* {
    margin: 0;
    padding: 0; /*todo esto es para que no quede bordes*/
    box-sizing: border-box;
}


header {
    background-color: plum;
    /*fondo*/
    height: 80px;
    /*altura*/
    width: 100%;
    /*ancho*/
    /*margin: auto; me sirve para centrar un elemento que no tiene el 100% del ancho*/

    display: flex;
    justify-content: space-between;

}
header .marca{
    background-color: #3aaee463;
    padding: 10px;
    color: white;
    font-size: 20px;
}

header .social{
    background-color: #9fd61f;
    padding: 0.5em;
}


.boton{
    background-color: aqua;
}

footer{/*verificar Margin-bottom cuando agregue contenido a la clase contenido*/
    height: 60px;
    width: 100%;
    background-color: rgba(240, 223, 234, 1);
    position: fixed;
    bottom: 0;
}
.contenido{
    height: 800px;
    width:80%;
    margin: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin-bottom: 60px;

}
/*----tipografia---*/

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lora&display=swap');

.tipo1{
    font-family: 'Delicious Handrawn', cursive;
}
.tipo2{
    font-family: 'Lora', serif;
}
.fw300{
    font-weight: 300;
}

/*TAMAÑOS -para tipografias usamos 10pt(puntos) point=pt, pixel=px,proporcional=%/vw(view por view en acho del ordenador/vh view de alto, 1em= es igual a 12pt*/
