* {
    margin: 0;
    padding: 0; /*todo esto es para que no quede bordes*/
    box-sizing: border-box;
}


header {
    background-color: plum;
    /*fondo*/
    height: 80px;
    /*altura*/
    width: 100%;
    /*ancho*/
    /*margin: auto; me sirve para centrar un elemento que no tiene el 100% del ancho*/
    padding: 0 10%;/*eje y y eje x padding: y x;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .marca{
    font-size: 20pt;
}

header .social{
    font-size: 15pt;
    
}
.social a{
    text-decoration: none;
    margin: 0 10px;
    color: gray

}

.social a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(124, 164, 189);

}
.card{
    position: relative;/*positive relative pone las cordenadas de algo donde lo queres mover*/
    width:30% ;
    height:500px ;
    background-color:rgb(230, 118, 187);
    padding: 20px;/*marco */
    border-radius: 15px;/*redondeo de las puntas*/

}
.card .titulo{/*se modifica la clase titulo dentro de la clase card*/
    font-size: 14pt;
}
.card .imagen{/*se modifica la clase imagen dentro de la clase card*/
    width: 100%;
    height: 50%;
    background-color: white;
    margin-bottom: 10px;
}
.card .boton{/*se modifica la clase boton dentro de la clase card*/
    position: absolute;
    /*top: 220px; para adentro positivo y para a fuera negativo*/
    bottom: 20px;
    right: 20px;/* ponemos lo mismo de padding de clase card para que tenga el mismo margen, pero podes poner lo que quieras*/
    border-radius: 15px ;/*redondeo de las puntas/ ejemplo border-radius: 15px 0px(me redondea en solo dos lados/se puede ir modificando eso)*/

    background-color: rgb(161, 137, 226);
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12pt;
    font-family: sans-serif;

    
}
.card .boton:hover{
    box-shadow: 0 0 5px ;/*cuando seleccionas hace un degradado a los costados cuando esta en maouse en ese objeto*/
}

.boton{
    background-color: aqua;
}

footer{/*verificar Margin-bottom cuando agregue contenido a la clase contenido*/
    height: 60px;
    width: 100%;
    background-color: rgba(240, 223, 234, 1);
    position: fixed;
    bottom: 0;
}
.contenido{
    height: 800px;
    width:80%;
    margin: auto;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin-bottom: 60px;

}
/*----tipografia---*/

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lora&display=swap');

.tipo1{
    font-family: 'Delicious Handrawn', cursive;
}
.tipo2{
    font-family: 'Lora', serif;
}
.fw300{
    font-weight: 300;
}

/*TAMAÑOS -para tipografias usamos 10pt(puntos) point=pt, pixel=px,proporcional=%/vw(view por view en acho del ordenador/vh view de alto, 1em= es igual a 12pt*/
