* {
    margin: 0;
    padding: 0; /*todo esto es para que no quede bordes*/
    box-sizing: border-box;
    transform: all 0.2s ease-in-out;
}
/*CONTENEDOR SCROLLBAR-- para que se vea mas lindo*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {/*donde se desliza la barra*/
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {/*los dos puntos :: son ceudo clase*/
    background: rgb(206, 43, 43);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 99, 69);
    ;
}
/*----tipografia---*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Schibsted+Grotesk&display=swap');

.tipo1{
    font-family: 'Lato', sans-serif;
}
.tipo2{
    font-family: 'Schibsted Grotesk', sans-serif;
}
.fw300{
    font-weight: 300;
} 
/*estilos pára la imagene de fondo*/
.bnrep{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;/*la posicion de la imagen */
}

/*---estilo de proyecto*/

.portada{
    position: relative;
    background-image: url(../img/portada.png);/*poner una imagen de fondo*/
    /*background-color: rgb(198, 170, 224);*/
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.884);/*sombreado a la foto(al fondo con el inset dice que haga el sombredo adentro*/
    height: 350px;
}
.portada .texto{/*el texto de la imagen cambio de posicion*/
    position: absolute;
    bottom: 70px;
}
.busqueda{/*contenedor de la busqueda del usuario*/
    position: absolute;
    bottom: -15px;
    background-color: rgb(194, 50, 50);
    width: 86%;
    height: 60px;/*le da el tamaño al cuadradito*/
    margin:  auto;
    box-shadow: 0 18px 20px -15px rgba(0, 0, 0, 0.404);/* x y difuminado color*/
    display: flex;
    align-items: center;
    justify-content: space-between;/*que todos los elementos tengan la misma distancia*/
    border-radius: 10px;/*redondeo de las puntas*/
    overflow: hidden;/*todo quello que se rebase de los limites del contenedor que haga algo que desaparesca entre otas cosas*/
}
.busqueda .icono{
    background-color:rgb(207, 81, 91);
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 60px;/*para aliniar en el eje y utilizar el emismo valor que el height*/
    
}
.icono.material-icons-outlined{
    font-size: 24pt;
}

.busqueda input[type="search"]{/*el cuadrito d ebusqueda*/
    height: 100%;
    width: calc(100% - 120px);/*una calculadora*/
    border: none;/*saca el borde del cuadrito de busqueda*/
    outline: none;/*para cuando seleccione el cuadritop de busqueda no aparesca el marco*/
    padding: 0px 20px;
}
.busqueda input[type="search"]:focus{/*agranda la tipografia cuando hagan click*/
    font-size: 15px;
    
}
.busqueda input[type="submit"]:active{
    font-size: 12px;
    
}
.busqueda input[type="submit"]{/*modifica el icono de buscar*/
    height: 100%;
    width: 60px;
    font-size: 20px;


}


/*fin portada*/
.menu{
    margin-top: 20px;
    background-color: rgb(223, 101, 111);
    padding: 20px;
    
}
.menu ul{
    display: flex;
    justify-content:flex-start ;/*flex-start se alinee desde la izquierda*/
    overflow-x:scroll;/*para que en el eje x tenga scroll se pueda mover y ver*/
}
.menu ul li{
    height: 65px;
    flex: 0 0 130px;
    text-align: center;
    list-style: none;
}
.menu a{
    
    color: black;
    text-decoration:none                        ;
    font-size: 19px;
   
}
/*fin menu*/
.productos{
    background-color: rgb(211, 157, 190);
    padding: 20px;
}
.restos{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 112, 167);
    align-items: center;
}
.card{
    display: flex;
    flex: 1 0 160px ;/*indicar la altura o el ancho depende pero ene ste indica el ancho*/
    width: 90%;
    background-color: rgb(190, 165, 182);
    
}
.card .img{
    display: flex;
    flex: 1 0 160px ;/*indicar la altura o el ancho depende pero ene ste indica el ancho*/
    width: 50px;
    height:250px;
    background-color: rgb(55, 55, 163);
    border-radius: 25px 0px 0px 25px;
}
.card .datosresto{
    padding: 2%;

    flex: 0 0 60%;
    background-color: rgb(187, 144, 144);
    text-align: left;
    border-radius: 0px 25px;
}
h3{
    font-size: 10pt;
    color: rgb(212, 208, 208);
    
}
.card .datosresto .calif{
    
    width: 50px;
    height: 50px;

    bottom: 50%;
    right: -90%;
    background-color: black;
    position: relative;
    /*top: -65px;
    right: -300px;*/
    border-radius: 12px 0px;
    
    text-align: center ;

    color: white;
    font-size: 20pt;
    
}
.calificacion{
    
    text-align:left;
    position: relative;
    font-size: 2px;
    color: white;
}

/*-----fin producto----*/