* {
    margin: 0;
    padding: 0; /*todo esto es para que no quede bordes*/
    box-sizing: border-box;
    transform: all 0.2s ease-in-out;
}
/*CONTENEDOR SCROLLBAR-- para que se vea mas lindo*/
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {/*donde se desliza la barra*/ 
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {/*los dos puntos :: son ceudo clase*/
    background: rgb(206, 43, 43);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 99, 69);
    ;
}
/*----tipografia---*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Schibsted+Grotesk&display=swap');

.tipo1{
    font-family: 'Lato', sans-serif;
}
.tipo2{
    font-family: 'Schibsted Grotesk', sans-serif;
}
.fw300{
    font-weight: 300;
} 
/*estilos pára la imagene de fondo*/
.bnrep{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;/*la posicion de la imagen */
}

/*---estilo de proyecto*/

.portada{
    position: relative;
    background-image: url(../img/portada.png);/*poner una imagen de fondo*/
    /*background-color: rgb(198, 170, 224);*/
    padding: 7%;
    color: white;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.884);/*sombreado a la foto(al fondo con el inset dice que haga el sombredo adentro*/
    height: 350px;
}
.portada .texto{/*el texto de la imagen cambio de posicion*/
    position: absolute;
    bottom: 70px;
}
.busqueda{/*contenedor de la busqueda del usuario*/
    position: absolute;
    bottom: -15px;
    background-color: rgb(194, 50, 50);
    width: 86%;
    height: 60px;/*le da el tamaño al cuadradito*/
    margin:  auto;
    box-shadow: 0 18px 20px -15px rgba(0, 0, 0, 0.404);/* x y difuminado color*/
    display: flex;
    align-items: center;
    justify-content: space-between;/*que todos los elementos tengan la misma distancia*/
    border-radius: 10px;/*redondeo de las puntas*/
    overflow: hidden;/*todo quello que se rebase de los limites del contenedor que haga algo que desaparesca entre otas cosas*/
}
.busqueda .icono{
    background-color:rgb(207, 81, 91);
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 60px;/*para aliniar en el eje y utilizar el emismo valor que el height*/
    
}
.icono.material-icons-outlined{
    font-size: 24pt;
}

.busqueda input[type="search"]{/*el cuadrito d ebusqueda*/
    height: 100%;
    width: calc(100% - 120px);/*una calculadora*/
    border: none;/*saca el borde del cuadrito de busqueda*/
    outline: none;/*para cuando seleccione el cuadritop de busqueda no aparesca el marco*/
    padding: 0px 20px;
}
.busqueda input[type="search"]:focus{/*agranda la tipografia cuando hagan click*/
    font-size: 15px;
    
}
.busqueda input[type="submit"]:active{
    font-size: 12px;
    
}
.busqueda input[type="submit"]{/*modifica el icono de buscar*/
    height: 100%;
    width: 60px;
    font-size: 20px;
}

/*fin portada*/
.menu{
    margin-top: 20px;
    background-color: rgb(223, 101, 111);
    padding: 20px;
    
}
.menu ul{
    display: flex;
    justify-content:flex-start ;/*flex-start se alinee desde la izquierda*/
    overflow-x:scroll;/*para que en el eje x tenga scroll se pueda mover y ver*/
}
.menu ul li{
    height: 65px;
    flex: 0 0 130px;
    text-align: center;
    list-style: none;
}
.menu a{
    
    color: black;
    text-decoration:none                        ;
    font-size: 19px;
   
}
/*fin menu*/
.productos{
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.restos{
    width: 100%;
    display: flex;
    gap: 20px;/*es como el margin cuando tiene el flex*/
    /*flex-direction: row;*/
    flex-wrap: wrap;/*que los elementos se van a acomodar solos y si no hay espacio se mueve para abjo */
    /*background-color: rgb(212, 112, 167);*/
    align-items: center;
    padding: 5% ;
    /*padding: 10px;*/
    

}
.listaresto{
    width: 95%;
    margin: auto;
    /*background-color: rgb(211, 128, 3);*/
    display: flex;
    flex-wrap: wrap ;
    gap: 16px;
}
.card{
    display: flex;
   flex: 0 0 40%; /*indicar la altura o el ancho depende pero ene ste indica el ancho*/
    border-radius: 25px 0px 0px 25px;
    /*height: 200px;*/
    background-color: rgb(180, 79, 79);
    box-shadow: 0 0 15px 2px black;
    
}
.card .img{
    
    flex: 0 0 40% ;/*indicar la altura o el ancho depende pero ene ste indica el ancho*/
    overflow: hidden;/*para que lo que sobresale se recorte*/
    height: 160px;
    
    /*background-color: rgb(182, 104, 101);*/
    border-radius: 25px 0px 0px 25px;
}

.img > img{
    height: 100%;
    object-fit: cover;
}

.card .datosresto{
    position: relative;
    padding: 2%;
    padding-top: 2%;
    flex: 0 0 60%;
    /*background-color: rgb(187, 144, 144);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
    
    border-radius: 12px 0;
}

.valores{
    display: flex;
    justify-content: space-between;
}
.f12{/*tamaño de las estrellas y el $*/
    font-size: 12pt!important;
}
.puntuacion{
    position: absolute;/*necesito para poder ubicar y que la clase padre tenga position:relative(en este caso seria .card .datosresto */
    top: -6px;
    right: -6px;
    height: 50px;
    width: 50px;
    background-color: rgb(196, 167, 167);
    text-align: center;
    line-height: 50px;
    
    border-radius: 12px 0px;

}

h4{
    font-size: 10pt;
    color: rgb(212, 208, 208);
    
}

.card .datosresto .calif{
    
    width: 50px;
    height: 50px;

    bottom: 0;
    right: 0;
    background-color: black;
    position: relative;
    /*top: -65px;
    right: -300px;*/
    border-radius: 12px 0px;
    
    text-align: center ;

    color: white;
    font-size: 20pt;
    
}
.calificacion{
    
    text-align:left;
    position: relative;
    font-size: 2px;
    color: white;
}

/*-----fin producto----*/

/*------------------resto.html---------------------------*/
.posrel{position: relative;}
.pa{/*pa de position absolute*/
    position: absolute;
}
.valoracion{/*el cuadradito de puntuacion*/
    position: absolute;
    background-color: rgb(212, 84, 84);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    bottom: -20px;
    right: 20px;
    color: black;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 10px -2px black;
}

ul{list-style: none;}
main{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap:35px;
}

main ul{
    display: flex;
    justify-content: space-around;
}

main ul li{text-align: center;}

/*nav_mobile es el coso de los link en el bottom d ela pagina*/
.nav_mobile{
    /*background-color: rgb(184, 85, 146);*/
    position: fixed ;/*para que un objeto este fijo donde vos quieras*/
    bottom: 0;
    width: 100%;
}

.nav_mobile ul{
    display: flex;/*aplica flexbox al contenerdor*/
    justify-content: space-around;/*separa los elementos*/
    list-style: none;
}

.nav_mobile ul li{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.nav_mobile a{
    text-decoration: none;
    /*text-transform: capitalize;*/
    color: grey;
}

.nav_mobile ul li:hover{
    color: black;
    border-top: solid 4px rgb(212, 84, 84);
}
/*----------------------------menu.html--------------------------------*/

.banner{
    width: 100%;
    /*background-color: palevioletred;*/
    padding: 10px;
}
.banner button{
    left: 20px;
    background-color: transparent;
    border: 0;
}
.banner button:hover{
    background-color: rgb(212, 84, 84);
    box-shadow: 0 0 15 px -3px black;

}
main{
    background-color: rgba(252, 252, 252, 0.884);
}
.item_menu{
    /*background-color: blueviolet;*/
    width: 100%;
    
}

.item_menu span{
    width: 100%;
    /*background-color: rgb(183, 206, 206);*/
    padding: 12px;
    line-height: 1.6;/*el espacio entre las palabras*/
}
h5{
    
    font-size: 15pt;
    text-decoration: none;
    color: rgb(0, 0, 0);

    
}
h6{
    font-size: 10pt;
    text-decoration: none;
    color: rgb(153, 149, 149);
}
.plato{
    position: relative;
    background-color: rgb(185, 168, 141);
    height: 100px;
    width: 120px;
    border-radius: 50%;
}
.plato .precio{
    width: 40px;
    height: 30px;
    background-color: rgb(160, 160, 175);
    position: absolute;
    text-align: center;
    line-height: 30px;
    bottom: 10px;
    right: 1px;
    color: black;
    font-weight: 700;
    border-radius: 15px 0;
    box-shadow: 0 0 10px -2px black;

}
.plato img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}


/*ordenamineto de elementos lo podemos utilizar en todo//// para que no lo compiemos muchas veces*/
.flex{display: flex;}
.centrar_vert{align-items: center;}
.centrar_h{justify-content: center;}
/*fin*/


/* --------producto.html--------*/
.producto{
    height: 450px;
    width: 100%;
    overflow: hidden;

    
}
.obj_fit{
    object-fit: cover;/*para que la imgen cubra todo /cover lo agranda hasta yenar ele scpacio/contain se va a chicar para que ocupe todo el espacio o se va a agrandar para ocupar todo pero no todo el contenedor usa/fill se la a deformar para que ocupe el espacio*/
    height: 100%;
    width: 100%;
    z-index: 0;
}
.producto .titulo{
        z-index:10;/*especifica el nivel de capa del elemento*/
        background-color: rgb(138, 24, 43);
        /*height: 20px;*/
        width: 80%;
        bottom: 0;
        /*margin: auto;alinear un caja/clase*/

}
main{
    background-color: blue;
    height: 100vh;/*vh al 100 % de mi navegador*/
    width: 100vh;
    /*---*/
}
.cuadrado{
    width: 80px;
    height: 80px;
    background-color: aqua;
}
    