*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(223, 207, 182);

} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.tipo1{
    font-family: 'Montserrat', sans-serif;
}

.verde{
    background-color: rgb(44, 190, 44);
}
.amarillo{
    background-color: rgb(218, 218, 85);
}
.rosa{
    background-color: pink;
}

/*CONTENEDOR SCROLLBAR-- para que se vea mas lindo*/
::-webkit-scrollbar {
    height: 6px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {/*donde se desliza la barra*/
    background: #bbbaba5e;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {/*los dos puntos :: son ceudo clase*/
    background: rgb(54, 54, 54);
    ;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(189, 176, 173);
    ;
}

body{
    padding: 12px;
    padding-top: 30px;
    background-color: rgb(223, 207, 182);
    height: 100vh;
}
.app{
    height: 100%;
    width: 100%;
    

}
.circulo
{
    overflow: hidden;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.flex{
    display: flex;
}
.centrar_vert{
    align-items: center;
}
.centrar_ho{
    justify-content: center;
}


/*----logueo.html-----*/
.todoInfo{
    
    position: absolute;
    width: 90%;
    height: 600px;
   
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.todoInfo .titulo{
    position: relative;
    width: 60%;
    flex-direction: column;
    text-align: center; 
}
.todoInfo .titulo h1{
    font-size: 50pt;
    text-decoration: none;
}
.todoInfo .titulo h3{
    font-size: 15pt;
    text-decoration: none;
}
.todoInfo .logueo{
    
    margin: 25px;
}
.todoInfo .logueo .cuadri_logueo{
    
    margin: 30px;
}
.todoInfo .logueo .cuadri_logueo ul{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   text-align: center;
   gap: 10px;
   list-style: none;

}
.todoInfo .logueo .cuadri_logueo ul li{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 14pt; 
}
.todoInfo .logueo .cuadri_logueo ul li i{
    position: relative;
    background-color: black;
    left: -25px;
}
.todoInfo .logueo .cuadri_logueo h4{
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 25px;

}
.todoInfo .logueo .cuadri_logueo h4 a{
    text-decoration: none;
    color: rgb(104, 98, 98);
}
/*fin*/
/*---index.html---*/
.drop_menu{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 170px;
    border-radius: 10px;
    padding: 18px;
}
.drop_menu i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25pt;
}
.drop_menu .letras{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
   
    
}
.drop_menu .letras h3{
    font-size: 11pt;
    color: rgb(129, 128, 128);
    background-color: white;
    text-decoration: none;
}
.drop_menu h4{
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 22pt;
}

.notifi{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    overflow-x:scroll;
    gap: 20px;
    padding-bottom: 10px;
}