.head{
    height: 80px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
   
    
}
.head .perfil{
    
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
   
   
    
}
.head .perfil h3{
    font-size: 30pt;
    line-height: 80px;
}

