.head{
    height: 80px;
    width: 100%;
    margin: auto;
    background-color: aqua;
    
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.head .perfil{
    height: 80px;
    width: 130px;
   
    display: flex;
    flex-direction: row;
    text-align: center;
    
    
}
.head .perfil h3{
    font-size: 20pt;
}

